<p id="notice"><%= notice %></p>

<%= form_with(url: users_match_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :iris %>
    <%= form.file_field :iris %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit 'Search' %>
  </div>
<% end %>

<% if @user %>
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Iris:</strong>
  <%= image_tag url_for(@user.iris) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= link_to 'Search User', users_search_path %>

<% end %>
