<!DOCTYPE html>
<html>
  <head>
    <title>SDAttack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <% if current_user %>
      <li><%= link_to "Cerrar Sesión", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Iniciar Sesión", auth_path %></li>
    <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
